---
repositories:
  - name: cilium
    url: https://helm.cilium.io/

releases:
  - name: cilium
    namespace: kube-system
    chart: cilium/cilium
    version: {{ cillium_version }}
    values:
      - values.yml
    wait: true
    timeout: 120
